{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <head>
        <title>Page d'accueil</title>
    </head>
    <body>
    <div class="user-home">
        <h1 class="h1-article">Last articles</h1>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    {% if article.image is defined and article.image is not empty %}
                        <td>
                            <img src="{{ asset('/uploads/' ~ article.image) }}" width="530px" height="100%"
                                 alt="image de l'article"/>
                        </td>
                    {% endif %}
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    </h2>
                </div>
            {% endfor %}
            <div class="see-more">
                <a href="{{ path("app_article") }}">See more</a>
            </div>
        </div>
    </div>
    <div class="playOfTheWeek">
        <h1 class="h1-playOfTheWeek">Play of the week</h1>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/SSJOtgLmOIo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/ViZBHeMNQ6Y"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/iyd5ufMWQ2s"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/zUNXPjuBuBU"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
    </div>
    <br>
    </div>
    </body>
{% endblock %}