/* CSS reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Now css for pages */

body {
    color: white;
    background: #302E38;

    font-family: Aller, sans-serif;
'; font-style: normal;
font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

header {
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #443678 0%, rgba(33, 31, 46, 0) 100%);
}

.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.link-menu {
    margin: 10px;
}

.img-menu {
    margin: 10px;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    /*mettre a droite quand c'est un flex*/
    margin-left: auto;
}


/*css about links*/
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/*css for the main content*/

main{
    max-width: 70%;
    margin: auto;
    background: #242229;
}

/*

!* properties for the link *!
.menu a {
    font-family: Aller, sans-serif;
'; font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFFFFF;
}


.tableauDeBord {
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 220px;
    top: 100px;

    background: #211F2E;
}

.dashboard {
    position: absolute;
    width: 1000px;
    height: 80px;
    left: 220px;
    top: 200px;

    background: #2E293D;
}

.home {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 300px;
    top: 0px;
}

.beatmap {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 390px;
    top: 0px;
}

.ranking {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 480px;
    top: 0px;
}

.forum {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 570px;
    top: 0px;
    !*put in the middle*!
    margin: auto;
}

.help {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 660px;
    top: 0px;
}

.playOfTheWeek {
    display: flex;
    align-items: end;
    width: 350px;
    height: 651px;
    left: 849px;
    top: 280px;

    background: #302E38;
}

.playOfTheWeek iframe {
    display: inline-block;
    vertical-align: middle;
}*/
