/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remettre les propriétés des balises par défaut */

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
/* Now css for pages */

.bg-custom {
    color: white;
    background: #302E38;

font-family: Aller, sans-serif;
'; font-style: normal;
font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

header {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;

    background: linear-gradient(180deg, #443678 0%, rgba(33, 31, 46, 0) 100%);
}

.menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.link-menu {
    margin: 10px;
}

.img-menu {
    margin: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.right-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.profile {
    /*mettre a droite quand c'est un flex*/
    margin-left: auto;
}


/*css about links*/
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/*css for the main content*/
.tableauDeBord {
    width: 100%;
    height: 100px;
    background: #211F2E;
}

.dashboard {
    width: 100%;
    height: 80px;

    background: #2E293D;

}

.mainPage {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.h1-playOfTheWeek {
    color: #C2B7E0;
}

.playOfTheWeek {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #302E38;
    padding: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.potw-iframe {
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}


main{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    background: #242229;
}

footer {
    width: 100%;
    height: 50px;
    background: #242229;
    display: flex;
    flex-direction: column;


}

.footer-menu {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

/* CSS exclusive to the article page */
.h1-article {
    padding: 20px 0 10px 0;
    color: #C2B7E0;

}
 .user-home {
     width: 530px;
     height: auto;
     display: flex;
        flex-direction: column;
        align-items: start;
     margin-left: 50px;
        margin-bottom: 20px;

 }

.article {
    width: 530px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #302E38;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.share-media {
    display: flex;
    flex-direction: row;
}

.media-l {
    margin-left: 10px;
    margin-right: 10px;
}

.form-group {
    margin-left: 5px;
}

.see-more {
    width: 490px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background: #302E38;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.right-main-menu {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 20px;
}

.new-article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #302E38;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

/* CSS exclusive to the admin page */
th {
    text-align: center;
}

td {
    text-align: center;
}

/* CSS exclusive to the error page */
.container h1 {
    color: red;
}