{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <main>
        <h1>Contact us!</h1>
        {{ include('contact/_form.html.twig') }}
    </main>
{% endblock %}
