{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <head>
        <title>Page article</title>
    </head>
    <body>
    <h1 class="h1-article">Articles</h1>
    {% for article in articles %}
        <div class="article">
            {% if article.image is defined and article.image is not empty %}
                <td>
                    <img src="{{ asset('/uploads/' ~ article.image) }}" width="530px" height="100%"
                         alt="image de l'article"/>
                </td>
            {% endif %}
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <p>Article créé le : {{ article.createdAt|date('d/m/Y') }}</p>
        </div>
    {% endfor %}
    </body>


{% endblock %}
