{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <header>
        <a href="https://osu.ppy.sh/home">Accueil</a>
        <a href="https://osu.ppy.sh/beatmapsets">Beatmaps</a>
        <a href="https://osu.ppy.sh/rankings/osu/performance">Classements</a>
        <a href="https://osu.ppy.sh/community/forums">Forums</a>
        <a href="https://osu.ppy.sh/wiki/fr/Main_Page">Aide</a>

    </header>
    {% for article in articles %}
       <div class="article">
       <h1>{{ article.title }}</h1>
           <img src="https://i.ppy.sh/ad5952f6876a7b7a6d759a904408e4fba3d8c29c/68747470733a2f2f6f73752e7070792e73682f77696b692f696d616765732f7368617265642f6e6577732f323032322d31312d30342d6d6170706572732d63686f6963652d6177617264732f6e657773706f73742e706e67" alt='image article' width="670" height="200">

           <p>{{ article.content }}</p>
       <p>Article créé le : {{ article.createdAt|date('d/m/Y')}}</p>
       </div>
   {% endfor %}

{% endblock %}
