{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <head>
        <title>Page article</title>
    </head>
    <body>
    <div class="user-home">
    <h1 class="h1-article">Articles</h1>
    {% for article in articles %}
        <div class="article">
            {% if article.image is defined and article.image is not empty %}
                <td>
                    <img src="{{ asset('/uploads/' ~ article.image) }}" width="530px" height="100%"
                         alt="image de l'article"/>
                </td>
            {% endif %}
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <p>Article créé le : {{ article.createdAt|date('d/m/Y') }}</p>
            {# Code find on publish.tweeter.com #}
            <div class="share-media">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                   data-show-count="false" class="media-l">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fsf.maximecapel.com%2Farticle&layout=button&size=small&width=81&height=20&appId"
                        width="81" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" class="media-l" target="_blank" ></iframe>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="playOfTheWeek">
        <h1 class="h1-playOfTheWeek">Play of the week</h1>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/SSJOtgLmOIo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/ViZBHeMNQ6Y"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/iyd5ufMWQ2s"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
        <iframe width="330" height="auto" src="https://www.youtube.com/embed/zUNXPjuBuBU"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="potw-iframe"></iframe>
    </div>
    </body>


{% endblock %}
