{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <main>
        <h1>User</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>* * * * * * * *</td>
            </tbody>
        </table>

        <a href="{{ path('admin_users_index') }}">back to list</a>
        <a href="{{ path('admin_edit') }}">edit</a>
    </main>
{% endblock %}
